<div class="container">
    <h3>注文情報入力</h3>
</div>
<%= form_with model: @order,  url: comfirm_path, method: :post do |f| %>
<div class="container">
    <b>支払い方法</b>
    <div class="container">
        <p><%= f.radio_button :payment_method, Order.payment_methods.key(0) %><%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %></p>
        <p><%= f.radio_button :payment_method, Order.payment_methods.key(1) %><%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%></p>
    </div>
    <b>お届け先</b>
    <div class="container">
        <p>
        <%= f.label "ご自身の住所" %></br>
        〒<%= @customers.postal_code %> <%= @customers.address %></br>
        <%= @customers.last_name %> <%= @customers.first_name %>
        </p>
        <p><%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %></p>
        <p></p>
    </div>
    <p class="text-center"><%= f.submit "確認画面へ進む", class: "btn btn-primary" %></p>
</div>
<% end %>
