<div class="container">
  <h3>注文履歴詳細</h3>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-7">
      <table class="table table-border">
        <thead>
          <tr><th>注文日</th><td><%= @order.updated_at.strftime('%Y/%m/%d') %></td></tr>
          <tr><th>配送先</th><td><%= @order.postal_code %><%= @order.address %><%= @order.name %></td></tr>
          <tr><th>支払方法</th><td><%= @order.payment_method %></td></tr>
          <tr><th>ステータス</th><td></td></tr>
        </thead>
      </table>
    </div>
    <div class="col-md-5">
      <table class="table table-border">
        <thead>
          <tr><th>商品合計</th><td>¥<%= @order.total_payment.to_s(:delimited) %></td></tr>
          <tr><th>配送料</th><td>¥<%= @order.shoping_cost %></td></tr>
          <tr><th>ご請求額</th><td>¥<%= (@order.total_payment + @order.shoping_cost).to_s(:delimited) %></td></tr>
        </thead>
      </table>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-10">
      <table class="table table-border table-striped">
        <thead>
          <tr>
            <th>商品</th>
            <th>単価（税込）</th>
            <th>個数</th>
            <th>小計</th>
          </tr>
        </thead>
        <% @order_details.each do |order_detail| %>
        <tbody>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= order_detail.price.to_s(:delimited) %></td>
            <td><%= order_detail.amount %></td>
            <td>¥<%= (order_detail.price*order_detail.amount).to_s(:delimited) %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>