<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
      <heder class="navbar navbar-fixed-top">
        <div class="container">
        <a class="navbar-brand p-3" href="/"><%= image_tag('cake_logo.png') %></a>
            <nav>
              <ul class="nav">
                <% if customer_signed_in? %>
                <li classs="nav-item">
                  <%= link_to "マイページ", customer_path(current_customer.id), class: "btn btn-outline-secondary mr-3vw" %>
                </li>
                <li class="nav-item">
                  <%= link_to "商品一覧", items_path, class: "btn btn-outline-secondary mr-3vw" %>
                </li>
                <li class="nav-items">
                  <%= link_to "カート", cart_items_path, class: "btn btn-outline-secondary mr-3vw" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "btn btn-outline-secondary mr-3vw" %>
                </li>
                <% else %>
                <li>
                  <%= link_to "About",  about_path, class: "btn btn-outline-secondary mr-3vw" %>
                </li>
                <li class="nav-item">
                  <%= link_to "商品一覧", root_path, class: "btn btn-outline-secondary mr-3vw" %>
                </li>
                <li class="nav-item">
                  <%= link_to "新規登録", new_customer_registration_path, class: "btn btn-outline-secondary mr-3vw" %>
                </li>
                <li class="nav-item">
                  <%= link_to "ログイン", new_customer_session_path, class: "btn btn-outline-secondary mr-3vw" %>
                </li>
                <% end %>
              </ul>
            </nav>
        </div>
    </heder>
    <main class="mb-auto">
      <%= yield %>
    </main>
    <div class="container mt-5">
      <div class="row">
        <div class="mx-auto">
          <p>CopyRight Infratop.inc</p>
        </div>
      </div>
    </div>
    </footer>
  </body>
</html>
